<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Félicitations <%= @attendance.event.organizer.first_name %> !!!</h1>
    <p> Ton évènement a un(e) nouvel(le) inscrit(e) : <%= @attendance.user.first_name %>.</p>
    <p>Il y a maintenant <%= Attendance.all.length %> participants ! :D</p>
    <p> À très vite pour d'autres bonnes nouvelles !</p>
  </body>
</html>